body {
font-family: 'Roboto', sans-serif;
margin: 0;
padding: 0;
background-color: #2c2c2c;
color: #f4f4f9;
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
}

.container {
max-width: 900px;
padding: 20px;
text-align: center;
border-radius: 10px;
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h1.highlighted {
font-family: 'Orbitron', sans-serif;
color: #FFA500;
text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
margin-bottom: 20px;
}

.button {
background-color: #FFA500;
color: white;
border: none;
padding: 12px 20px;
margin: 10px;
cursor: pointer;
font-size: 16px;
border-radius: 5px;
transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
background-color: #e59400;
transform: translateY(-3px);
}

.status, .fps, .ping {
font-family: 'Orbitron', sans-serif;
transition: color 0.3s ease;
margin: 20px 0;
font-size: 18px;
background-color: #333;
padding: 10px;
border-radius: 8px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.fps.high, .ping.good { color: #00ff00; }
.fps.medium, .ping.average { color: #ffcc00; }
.fps.low, .ping.bad { color: #ff0000; }

.progress-bar {
width: 0;
height: 10px;
background: linear-gradient(to right, #ff4081, #ff79b0);
border-radius: 5px;
margin-top: 20px;
transition: width 3s ease-in-out;
}

.info-card {
background-color: #333;
border-radius: 10px;
padding: 20px;
margin-top: 20px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.info-card h3 {
color: #FFA500;
}

.info-card ul {
list-style-type: none;
padding-left: 0;
}

footer {
margin-top: 30px;
font-size: 14px;
color: #aaa;
}

.toggle-button {
position: fixed;
bottom: 20px;
right: 20px;
padding: 12px;
background-color: #FFA500;
border: none;
border-radius: 50%;
color: white;
cursor: pointer;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
transition: background-color 0.3s ease;
}

.toggle-button:hover {
background-color: #e59400;
}

.modal {
display: none;
position: fixed;
z-index: 1;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: hidden;
background-color: rgba(0, 0, 0, 0.7);
backdrop-filter: blur(12px);
transition: opacity 0.3s ease;
}

.modal-content {
background-color: #212121;
backdrop-filter: blur(10px);
margin: 10% auto;
padding: 30px;
border-radius: 20px;
width: 70%;
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
animation: fadeIn 0.5s ease;
color: #EEEEEE;
text-align: center;
font-size: 18px;
font-weight: bold;
position: relative;
}

.modal-content p {
text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#performance-text {
background-color: rgba(255, 255, 255, 0.7);
padding: 15px;
border-radius: 10px;
display: inline-block;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@keyframes fadeIn {
from { opacity: 0; }
to { opacity: 1; }
}

#starGameButton {
background: linear-gradient(135deg, #6a00f4, #ff007f);
color: white;
padding: 20px;
border: none;
border-radius: 50%;
font-size: 22px;
font-weight: bold;
cursor: pointer;
box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

#starGameButton:hover {
background: linear-gradient(135deg, #ff007f, #007bff);
transform: scale(1.1);
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

#starGameButton:active {
background: #ff4081;
transform: scale(0.95);
}

.modalUpdate {
display: flex;
justify-content: center;
align-items: center;
position: fixed;
z-index: 1000;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.7);
}

.modalUpdate .modal-content {
background: linear-gradient(135deg, #2c2c2c, #2c2c2c);
border-radius: 25px;
padding: 30px;
box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
width: 85%;
max-width: 450px;
text-align: center;
animation: fadeIn 0.3s ease;
}

.modalUpdate .modal-content h2 {
margin: 0 0 20px;
color: #FFA500;
}

.modalUpdate .modal-content p {
margin: 0 0 25px;
line-height: 1.7;
}

.modalUpdate button {
background-color: #FFA500;
color: white;
border: none;
border-radius: 50px;
padding: 15px 40px;
font-size: 18px;
cursor: pointer;
transition: background-color 0.3s ease;
}

.modalUpdate button:hover {
background-color: #e59400;
}

@keyframes fadeIn {
from { opacity: 0; }
to { opacity: 1; }
}

@keyframes fadeOut {
from { opacity: 1; }
to { opacity: 0; }
}


.app-container {
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
padding: 3px;
border-radius: 10px;
display: center;
}

.app-icon {
color: #007bff;
transition: transform 0.3s ease, color 0.3s ease;
}

.app-name {
font-size: 18px;
font-weight: bold;
color: #8E8E8E;
}

#splashScreen {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #000;
display: flex;
justify-content: center;
align-items: center;
z-index: 1000;
opacity: 1;
visibility: visible;
animation: splashFadeOut 1.5s ease-out 1.5s forwards;
}

#splashScreen img {
max-width: 80%;
max-height: 80%;
transform: scale(1);
animation: splashZoom 1.5s ease-out forwards;
}

@keyframes splashFadeOut {
to {
opacity: 0;
visibility: hidden;
}
}

@keyframes splashZoom {
from {
transform: scale(1);
}
to {
transform: scale(1.2);
}
}

.main-content {
display: none;
padding: 20px;
}